@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --surface: 0 0% 100%;
    --surface-hover: 0 0% 98%;
    --surface-active: 0 0% 96%;

    --content: 240 10% 10%;
    --content-subtle: 240 5% 35%;
    --content-muted: 240 5% 65%;

    --primary-50: 240 100% 98%;
    --primary-100: 240 95% 94%;
  }

  .dark {
    --surface: 240 10% 10%;
    --surface-hover: 240 10% 12%;
    --surface-active: 240 10% 14%;

    --content: 0 0% 98%;
    --content-subtle: 0 0% 80%;
    --content-muted: 0 0% 60%;
  }
}

@layer components {
  .animate-in {
    animation-delay: 0ms;
    animation-fill-mode: both;
  }

  .animate-out {
    animation-fill-mode: both;
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
